In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train = pd.read_csv('train.csv',sep=';')
df_train.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [3]:
df_train= df_train.drop(['marital',"poutcome",],axis=1)

In [4]:
df_train['job'] = df_train['job'].map({'admin.':2,'blue-collar':1,'entrepreneur':2,'housemaid':1,'management':3,'retired':5,'self-employed':2,'services':2,'student':1,'technician':3,'unemployed':-2,'unknown':0})
df_train['education'] = df_train['education'].map({'basic.4y':0,'basic.6y':1,'basic.9y':2,'high.school':3,'illiterate':-1,'professional.course':5,'university.degree':6,'unknown':0})
#df_train['marital'] = df_train['marital'].map({'divorced':1,'married':2, 'single' : 0, 'unknown': -1})
df_train['default'] = df_train['default'].map({'no':0,'yes':1,'unknown':-1})
df_train['housing'] = df_train['housing'].map({'no':0,'yes':1,'unknown':-1})
df_train['loan'] = df_train['loan'].map({'no':0,'yes':2,'unknown':-1})
df_train['contact'] = df_train['contact'].map({'cellular':0,'telephone':1})
df_train['month'] = df_train['month'].map({'jan':0,'feb':1,'mar':2,'apr':3,'may':4,'jun':5,'jul':6,'aug':7,'sep':8,'oct':9,'nov':10,'dec':12})
df_train['day_of_week'] = df_train['day_of_week'].map({'mon':1,'tue':2,'wed':3,'thu':4,'fri':5})
#df_train['poutcome'] = df_train['poutcome'].map({'nonexistent':0,'failure':-1,'success':1})
df_train['y'] = df_train['y'].map({'no':0,'yes':1})

In [5]:
X_train = df_train.values[:,:-1]
Y_train = df_train.values[:,-1]

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X_train, Y_train,test_size=0.3)

In [8]:
from sklearn.svm import SVC
from sklearn.metrics import matthews_corrcoef
svm=SVC(kernel='linear',gamma=1.0, C=0.1,random_state=0)
svm.fit(X_train,y_train)
svm_predict = svm.predict(X_test)
matthews_corrcoef(y_test,svm_predict)

0.48515216243323617

In [9]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
knn_predict = knn.predict(X_test)
matthews_corrcoef(y_test,knn_predict)

0.52573198824128264

In [10]:
from sklearn.ensemble import AdaBoostClassifier
abc = AdaBoostClassifier(n_estimators=1000)
abc.fit(X_train,y_train)
abc_predict = abc.predict(X_test)
matthews_corrcoef(y_test,abc_predict)

0.57225784873084051

In [11]:
from sklearn.ensemble import RandomForestClassifier

In [12]:
rfc = RandomForestClassifier(n_estimators=10000)
rfc.fit(X_train,y_train)
rfc_predict = rfc.predict(X_test)
matthews_corrcoef(y_test,rfc_predict)

0.53989232363861828

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
XX_train = scaler.transform(X_train)
XX_test=scaler.transform(X_test)
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(max_iter=1000,activation='logistic')
mlp.fit(XX_train,y_train)
mlp_predict = mlp.predict(XX_test)
matthews_corrcoef(y_test,mlp_predict)

0.47159314313641393

In [14]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=1000)
lr.fit(X_train,y_train)
lr_predict=lr.predict(X_test)
matthews_corrcoef(y_test,lr_predict)

0.45506065145676294

In [180]:
from sklearn.decomposition import PCA
pca = PCA(n_components=16)
new_train_X=pca.fit_transform(X_train)
new_test_X=pca.fit_transform(X_test)

In [16]:
rfc.fit(new_train_X,y_train)
new_rfc_predict = rfc.predict(new_test_X)
matthews_corrcoef(y_test,new_rfc_predict)

0.41337985561535601

In [17]:
lr.fit(new_train_X,y_train)
new_lr_predict = lr.predict(new_test_X)
matthews_corrcoef(y_test,new_lr_predict)

0.4345133644952936

In [34]:
print len(X_train)
print len(Y_train)

2999
2999

In [15]:
df_test = pd.read_csv('test.csv',sep=';')
df_test.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,49,management,divorced,university.degree,no,no,no,cellular,jul,thu,144,5,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1
1,31,admin.,unknown,high.school,no,no,no,telephone,may,mon,182,8,999,0,nonexistent,1.1,93.994,-36.4,4.858,5191.0
2,31,admin.,single,basic.9y,no,no,no,telephone,may,wed,80,1,999,1,failure,-1.8,92.893,-46.2,1.281,5099.1
3,60,admin.,married,high.school,no,yes,yes,cellular,apr,thu,482,2,999,0,nonexistent,-1.8,93.075,-47.1,1.365,5099.1
4,33,blue-collar,married,high.school,no,no,no,cellular,apr,mon,87,2,999,2,failure,-1.8,93.075,-47.1,1.405,5099.1

In [16]:
df_test= df_test.drop(['poutcome','marital'],axis=1)

In [17]:
df_test['job'] = df_test['job'].map({'admin.':2,'blue-collar':1,'entrepreneur':2,'housemaid':1,'management':3,'retired':5,'self-employed':2,'services':2,'student':1,'technician':3,'unemployed':-2,'unknown':0})
df_test['education'] = df_test['education'].map({'basic.4y':0,'basic.6y':1,'basic.9y':2,'high.school':3,'illiterate':-1,'professional.course':5,'university.degree':6,'unknown':0})
#df_test['marital'] = df_test['marital'].map({'divorced':1,'married':2, 'single' : 0, 'unknown': -1})
df_test['default'] = df_test['default'].map({'no':0,'yes':1,'unknown':-1})
df_test['housing'] = df_test['housing'].map({'no':0,'yes':1,'unknown':-1})
df_test['loan'] = df_test['loan'].map({'no':0,'yes':2,'unknown':-1})
df_test['contact'] = df_test['contact'].map({'cellular':0,'telephone':1})
df_test['month'] = df_test['month'].map({'jan':0,'feb':1,'mar':2,'apr':3,'may':4,'jun':5,'jul':6,'aug':7,'sep':8,'oct':9,'nov':10,'dec':12})
df_test['day_of_week'] = df_test['day_of_week'].map({'mon':1,'tue':2,'wed':3,'thu':4,'fri':5})
#df_test['poutcome'] = df_test['poutcome'].map({'nonexistent':0,'failure':-1,'success':1})

In [18]:
X_test = df_test.values
X_train = df_train.values[:,:-1]
Y_train = df_train.values[:,-1]

In [62]:
lr_predict=lr.predict(X_test)
result = np.c_[range(1,1121), lr_predict].astype(int)
df_pred = pd.DataFrame(result,columns=["Id","prediction"])
df_pred.to_csv('./prediction_lr111.csv',index=False)

In [19]:
svm=SVC(kernel='linear',gamma=1.0, C=0.1,random_state=0)
svm.fit(X_train,Y_train)
svm_predict = svm.predict(X_test)

In [20]:
result = np.c_[range(1,1121), svm_predict].astype(int)
df_pred = pd.DataFrame(result,columns=["Id","prediction"])
df_pred.to_csv('./prediction_svm111.csv',index=False)

In [19]:
abc.fit(X_train,Y_train)
abc_predict = abc.predict(X_test)

In [20]:
result = np.c_[range(1,1121), abc_predict].astype(int)
df_pred = pd.DataFrame(result,columns=["Id","prediction"])
df_pred.to_csv('./prediction_abc1234.csv',index=False)

In [26]:
rfc.fit(X_train,Y_train)
rfc_predict = rfc.predict(X_test)

In [27]:
result = np.c_[range(1,1121), rfc_predict].astype(int)
df_pred = pd.DataFrame(result,columns=["Id","prediction"])
df_pred.to_csv('./prediction_rfc.csv',index=False)

In [198]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
XX_train = scaler.transform(X_train)
XX_test = scaler.transform(X_test)
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(max_iter=1000,activation='logistic')
mlp.fit(XX_train,Y_train)
mlp_predict = mlp.predict(XX_test)

In [199]:
result = np.c_[range(1,1121), mlp_predict].astype(int)
df_pred = pd.DataFrame(result,columns=["Id","prediction"])
df_pred.to_csv('./prediction_mlp_3.csv',index=False)

In [26]:
print result

[[   1    0]
 [   2    0]
 [   3    0]
 ...,
 [1118    0]
 [1119    0]
 [1120    0]]

In [27]:
df_pred.head(10)

   Id  prediction
0   1           0
1   2           0
2   3           0
3   4           0
4   5           0
5   6           0
6   7           0
7   8           0
8   9           0
9  10           0