In [1]:
import numpy as np
import pandas as pd

In this version, I find that when I try to transform data into vector, there is some column, we don't have "yes" option in the train_set, but in test_set we have that. So in the next version, I need just drop this feature.

In [2]:
df_train = pd.read_csv('train.csv',sep=';')
df_train.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [3]:
df_train['y'] = df_train['y'].map({'no':0,'yes':1})

In [4]:
df_train=pd.get_dummies(df_train)

In [5]:
df_train.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,30,487,2,999,0,-1.8,92.893,-46.2,1.313,5099.1,...,0,0,1,0,0,0,0,0,1,0
1,39,346,4,999,0,1.1,93.994,-36.4,4.855,5191.0,...,0,0,1,0,0,0,0,0,1,0
2,25,227,1,999,0,1.4,94.465,-41.8,4.962,5228.1,...,0,0,0,0,0,0,1,0,1,0
3,38,17,3,999,0,1.4,94.465,-41.8,4.959,5228.1,...,0,0,1,0,0,0,0,0,1,0
4,47,58,1,999,0,-0.1,93.200,-42.0,4.191,5195.8,...,0,0,0,1,0,0,0,0,1,0

In [6]:
Y_train= df_train.pop('y')
Y_train=Y_train.values

In [7]:
X_train = df_train.values

In [8]:
X_train=df_train.values

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
print len(X_train[0])

61

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X_train, Y_train,test_size=0.3)

In [12]:
from sklearn.svm import SVC
from sklearn.metrics import matthews_corrcoef
svm=SVC( C=0.10,random_state=0,kernel='linear')
svm.fit(X_train,y_train)
svm_predict = svm.predict(X_test)
matthews_corrcoef(y_test,svm_predict)

0.48326273493788507

In [13]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
knn_predict = knn.predict(X_test)
matthews_corrcoef(y_test,knn_predict)

0.44879445081641467

In [14]:
from sklearn.ensemble import AdaBoostClassifier
abc = AdaBoostClassifier(n_estimators=1000)
abc.fit(X_train,y_train)
abc_predict = abc.predict(X_test)
matthews_corrcoef(y_test,abc_predict)

0.48296332712346368

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [16]:
rfc = RandomForestClassifier(n_estimators=10000)
rfc.fit(X_train,y_train)
rfc_predict = rfc.predict(X_test)
matthews_corrcoef(y_test,rfc_predict)

0.47073427001848822

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
XX_train = scaler.transform(X_train)
XX_test=scaler.transform(X_test)
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(max_iter=10000,hidden_layer_sizes=(1600,))
mlp.fit(XX_train,y_train)
mlp_predict = mlp.predict(XX_test)
matthews_corrcoef(y_test,mlp_predict)

0.42240767592497502

In [18]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(C=1000,max_iter=1000,random_state=0)
lr.fit(X_train,y_train)
lr_predict=lr.predict(X_test)
matthews_corrcoef(y_test,lr_predict)

0.54192037109857871

In [49]:
from sklearn.decomposition import PCA
pca = PCA(n_components=20)
new_train_X=pca.fit_transform(X_train)
new_test_X=pca.fit_transform(X_test)

In [50]:
svm.fit(new_train_X,y_train)
new_svm_predict = svm.predict(new_test_X)
matthews_corrcoef(y_test,new_svm_predict)

0.38869782845390094

In [51]:
rfc.fit(new_train_X,y_train)
new_rfc_predict = rfc.predict(new_test_X)
matthews_corrcoef(y_test,new_rfc_predict)

0.46930799522838001

In [52]:
lr.fit(new_train_X,y_train)
new_lr_predict = lr.predict(new_test_X)
matthews_corrcoef(y_test,new_lr_predict)

0.46514592110154179

In [53]:
scaler.fit(new_train_X)
new_train_X = scaler.transform(new_train_X)
new_test_X=scaler.transform(new_test_X)
mlp.fit(new_train_X,y_train)
mlp_predict = mlp.predict(new_test_X)
matthews_corrcoef(y_test,mlp_predict)

0.4344146927298998

In [54]:
abc.fit(new_train_X,y_train)
new_abc_predict = abc.predict(new_test_X)
matthews_corrcoef(y_test,new_abc_predict)

0.42123180676630712

In [25]:
print len(X_train)
print len(Y_train)

2099
2999

In [24]:
df_test = pd.read_csv('test.csv',sep=';')
df_test.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,49,management,divorced,university.degree,no,no,no,cellular,jul,thu,144,5,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1
1,31,admin.,unknown,high.school,no,no,no,telephone,may,mon,182,8,999,0,nonexistent,1.1,93.994,-36.4,4.858,5191.0
2,31,admin.,single,basic.9y,no,no,no,telephone,may,wed,80,1,999,1,failure,-1.8,92.893,-46.2,1.281,5099.1
3,60,admin.,married,high.school,no,yes,yes,cellular,apr,thu,482,2,999,0,nonexistent,-1.8,93.075,-47.1,1.365,5099.1
4,33,blue-collar,married,high.school,no,no,no,cellular,apr,mon,87,2,999,2,failure,-1.8,93.075,-47.1,1.405,5099.1

In [25]:
df_test['education'] = df_test['education'].map({'basic.4y':0,'basic.6y':1,'basic.9y':2,'high.school':3,'illiterate':4,'professional.course':5,'university.degree':6,'unknown':-1})
df_test['month'] = df_test['month'].map({'jan':0,'feb':1,'mar':2,'apr':3,'may':4,'jun':5,'jul':6,'aug':7,'sep':8,'oct':9,'nov':10,'dec':12})
df_test['day_of_week'] = df_test['day_of_week'].map({'mon':1,'tue':2,'wed':3,'thu':4,'fri':5})

In [26]:
df_test=pd.get_dummies(df_test)

In [29]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1120 entries, 0 to 1119
Data columns (total 43 columns):
age                     1120 non-null int64
education               1120 non-null int64
month                   1120 non-null int64
day_of_week             1120 non-null int64
duration                1120 non-null int64
campaign                1120 non-null int64
pdays                   1120 non-null int64
previous                1120 non-null int64
emp.var.rate            1120 non-null float64
cons.price.idx          1120 non-null float64
cons.conf.idx           1120 non-null float64
euribor3m               1120 non-null float64
nr.employed             1120 non-null float64
job_admin.              1120 non-null uint8
job_blue-collar         1120 non-null uint8
job_entrepreneur        1120 non-null uint8
job_housemaid           1120 non-null uint8
job_management          1120 non-null uint8
job_retired             1120 non-null uint8
job_self-employed       1120 non-null uint8
job_services            1120 non-null uint8
job_student             1120 non-null uint8
job_technician          1120 non-null uint8
job_unemployed          1120 non-null uint8
job_unknown             1120 non-null uint8
marital_divorced        1120 non-null uint8
marital_married         1120 non-null uint8
marital_single          1120 non-null uint8
marital_unknown         1120 non-null uint8
default_no              1120 non-null uint8
default_unknown         1120 non-null uint8
default_yes             1120 non-null uint8
housing_no              1120 non-null uint8
housing_unknown         1120 non-null uint8
housing_yes             1120 non-null uint8
loan_no                 1120 non-null uint8
loan_unknown            1120 non-null uint8
loan_yes                1120 non-null uint8
contact_cellular        1120 non-null uint8
contact_telephone       1120 non-null uint8
poutcome_failure        1120 non-null uint8
poutcome_nonexistent    1120 non-null uint8
poutcome_success        1120 non-null uint8
dtypes: float64(5), int64(8), uint8(30)
memory usage: 146.6 KB

KeyError: 'y'

In [34]:
X_test = df_test.values

In [38]:
print (X_test[0])

[  4.90000000e+01   6.00000000e+00   6.00000000e+00   4.00000000e+00
   1.44000000e+02   5.00000000e+00   9.99000000e+02   0.00000000e+00
   1.40000000e+00   9.39180000e+01  -4.27000000e+01   4.96300000e+00
   5.22810000e+03   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   1.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   1.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   1.00000000e+00   0.00000000e+00   0.00000000e+00
   1.00000000e+00   0.00000000e+00   0.00000000e+00   1.00000000e+00
   0.00000000e+00   0.00000000e+00   1.00000000e+00   0.00000000e+00
   0.00000000e+00   1.00000000e+00   0.00000000e+00]

In [35]:
abc = AdaBoostClassifier(n_estimators=1000)
abc.fit(X_train,Y_train)
abc_predict = abc.predict(X_test)

ValueError: Number of features of the model must match the input. Model n_features is 42 and input n_features is 43

In [65]:
result = np.c_[range(1,1121), mlp_predict].astype(int)
df_pred = pd.DataFrame(result,columns=["Id","prediction"])
df_pred.to_csv('./prediction_mlp.csv',index=False)

In [66]:
print result

[[   1    0]
 [   2    0]
 [   3    0]
 ...,
 [1118    0]
 [1119    0]
 [1120    0]]

In [64]:
df_pred.head(10)

   Id  prediction
0   1           0
1   2           0
2   3           0
3   4           0
4   5           0
5   6           0
6   7           0
7   8           0
8   9           0
9  10           0